<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Mushaheed Kapadia">
		<meta name="description" content="A YO application that monitors the stock market for you and tells you when a stock reaches a certain price">
		<meta name="keywords" content="Stock Market Monitor YoStock">
		<!--scripts-->	
		<script src="./public/scripts/register.js"></script>
		<!--stylesheets-->	
		<link rel="stylesheet" type="text/css" href="./public/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="./public/stylesheets/global.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:700,400">
		<!--title-->
		<title>YoStock Registeration Success</title>
	</head>
	<body>
		<h1>Registration Successful!</h1>
	</body>
</html>
